<h2>Adding Movie Data</h2>
<hr>
<form [formGroup]="movieform" (ngSubmit)="savedata()">
    <div class="form-group">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" formControlName="name" class="form-control">
        </div>

        <div>
            <label for="yearrelease">Year</label>
            <input type="text" id="yearrelease" name="yearrelease" formControlName="yearrelease" class="form-control">
        </div>
        <div>
            <label for="rating">Rating</label>
            <input type="text" id="rating" name="rating" formControlName="rating" class="form-control">
        </div>

        <p><input type="submit" value="submit" class="form-control"></p>


    </div>
</form>